.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url('https://images.unsplash.com/photo-1525923838299-2312b60f6d69?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1227');
  background-size: cover;
  color: blanchedalmond !important;

}

header{
  color: blanchedalmond !important;
 
}

h1{
  font-size: 100px !important;

}

img{
  height: 70%;
  width: 70%;
}

button {
  margin: 20px !important;
}
li{
  list-style-type: none;
  font-size: 25px;
  
}

.monkeys{
  background-color: rgb(0,0,0,0.5);
  margin: 20px !important;
}

label{
  font-size: 25px !important;
}
.create{

  background-color: rgb(0,0,0,0.5) ;
}